<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="../Css/style.css" rel="stylesheet" />
    <script src="../Js/sort.js"></script>
    <title><%- title %></title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand font-weight-bold text-black" style="background-color: pink;">Data API - Table</a>
      </div>
    </nav>
    <nav class="nav">
      <div class="dropdown">
        <b><label style="margin-left: 33px;">Show: </label></b>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="margin-bottom: 10px;" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><%= limit %></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/?page=<%= current %>&limit=10&filter=<%= filter %>">10</a>
          <a class="dropdown-item" href="/?page=<%= current %>&limit=20&filter=<%= filter %>">20</a>
          <a class="dropdown-item" href="/?page=<%= current %>&limit=30&filter=<%= filter %>">30</a>
          <a class="dropdown-item" href="/?page=<%= current %>&limit=40&filter=<%= filter %>">40</a>
          <a class="dropdown-item" href="/?page=<%= current %>&limit=50&filter=<%= filter %>">50</a>
          <a class="dropdown-item" href="/?page=<%= current %>&limit=100&filter=<%= filter %>">100</a>
          <a class="dropdown-item" href="/?page=<%= current %>&limit=200&filter=<%= filter %>">200</a>
          <a class="dropdown-item" href="/?page=<%= current %>&limit=300&filter=<%= filter %>">300</a>
        </div>
        <b><label style="margin-left: 5px;margin-right: 10px;">entries.</label></b>
      </div>
      <form class="d-flex" action="/" method="GET">
        <b><label style="margin-top: 10px; margin-right: 5px; margin-left: 15px;">Search: </label></b>
        <input class="form-control" style="margin-bottom: 10px; width: 100px;" name="filter" id="myInput" type="text" placeholder="Search">
      </form>
    </nav>
    <div id="root">
      <%- body %>
    </div>
  </body>
</html>